<p id="notice"><%= notice %></p>

<div class="form-labels">
    
<p class="form-labels">
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p class="form-labels">
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p class="form-labels">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="form-labels">
  <strong>Password:</strong>
  <%= @user.password %>
</p>

</div>
   
    
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', new_user_path %>
<!-- back to 'users_path' didn't make sense so redirecting back to main pins page -->